<nav class="pagination" data-total-pages="{{ pagination.totalPages }}">
  <ul class="pagination-list">
    <li>
      {% if pagination.currentPage > 1 %}
        <a href="?{% if pagination.currentQueryString != "" %}{{ pagination.currentQueryString }}&{% endif %}page={{ pagination.currentPage | minus: 1 }}" class="pagination-prev">
          <span>←</span>
          <span class="pagination-text">Vorige pagina</span>
        </a>
      {% else %}
        <span class="pagination-prev">
          <span>←</span>
          <span class="pagination-text">Vorige pagina</span>
        </span>
      {% endif %}
    </li>
    <li aria-current="page">
      <span>Pagina {{ pagination.currentPage }} van {{ pagination.totalPages }}</span>
    </li>
    <li>
      {% if pagination.currentPage < pagination.totalPages %}
        <a href="?{% if pagination.currentQueryString != "" %}{{ pagination.currentQueryString }}&{% endif %}page={{ pagination.currentPage | plus: 1 }}" class="pagination-next">
          <span class="pagination-text">Volgende pagina</span>
          <span>→</span>
        </a>
      {% else %}
        <span class="pagination-next">
          <span class="pagination-text">Volgende pagina</span>
          <span>→</span>
        </span>
      {% endif %}
    </li>
  </ul>
</nav>