{% layout 'layouts/default.liquid'
  , title: "Online catalogus" %}
{% block head %}
  <link rel="stylesheet" href="./styles/general.css">
  <link rel="stylesheet" href="./styles/components/pagination.css">
  <link rel="stylesheet" href="./styles/pages/overview.css">
{% endblock %}
{% block content %}
  <header>
    <img src="/assets/images/overview.jpg" alt="" height="352" width="1400">
    <div class="wrapper">
    <nav>
      <ul>
        <li>
          test
          <ul>
            <li>link1</li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
          </ul>
        </li>
        <li>
          test2
          <ul>
            <li>link1</li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="circle">
      <h1 class="xxl">
        <span>O</span>nline <br/> catal<span>o</span>gus
      </h1>
    </div>
    <nav>
      <ul>
        <li>
          test
          <ul>
            <li>link1</li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
          </ul>
        </li>
        <li>
          test
          <ul>
            <li>link1</li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
          </ul>
        </li>
      </ul>
    </nav>
    </div>
  </header>
  <main>
    {% comment %} {% if items %} {% endcomment %}
    <ul>
      {% for item in items %}
        {% assign metadata = item.metadata %}
        {% assign auteurs = metadata.auteur | split: '; ' %}
        <li>
          <a href="/catalogus/{{ item.id }}">
            <h2 class="md">{{ metadata.titel }}</h2>
          </a>
          <h3 class="sm">{{ metadata.auteur_label }}</h3>
          {% for auteur in auteurs %}
            <p>{{ auteur }}</p>
          {% endfor %}
          <h3 class="sm">{{ metadata.jaar_label }}</h3>
          <p>{{ metadata.jaar }}</p>
          <h3 class="sm">{{ metadata.plaats_van_uitgave_label }}</h3>
          <p>{{ metadata.plaats_van_uitgave }}</p>
        </li>
      {% endfor %}
    </ul>

    {% render 'partials/pagination/pagination'
      , current_page: pagination.currentPage
      , total_pages: pagination.totalPages
      , base_url: base_url %}
  {% comment %} {% else %} {% endcomment %}
  {% comment %} Geen resultaten {% endcomment %}
  {% comment %} {% endif %} {% endcomment %}
  </main>
{% endblock %}